---
import { slugifyStr } from "@utils/slugify";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import Excerpt from "@components/Excerpt.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  href?: string;
  post: CollectionEntry<"blog">;
  excerpt?: boolean;
  secHeading?: boolean;
}

const { href, post, excerpt = true, secHeading = true } = Astro.props;

const { tags, title, pubDatetime, modDatetime } = post.data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  className: "text-lg font-medium decoration-dashed hover:underline",
};

const { Content } = await post.render();
---

<li class="my-7">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      secHeading ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  {
    excerpt && (
      <Excerpt>
        <Content />
      </Excerpt>
    )
  }
  <div class="flex">
    <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
    <ul class="opacity-80 ml-2">
      {tags.map(tag => <Tag size="sm" tag={slugifyStr(tag)} />)}
    </ul>
  </div>
</li>
